button.monBtnClaire, button.claireNoHover {
    width: fit-content;
    padding: 10px 24px;
    color: white;
    background-color: var(--ternary-color);  
    font-family: var(--paragrapheFont);
    font-size: 20px;
    cursor: pointer;
    transition: ease-in-out .4s ;  
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}
button.monBtnClaire:hover {
    background-color: var(--secondary-color);
    color: white;
    box-shadow: 0px 0px 8px rgb(166, 165, 165); 
}
button.claireNoHover:hover {
    background-color: var(--ternary-color);
    color: white;
    box-shadow: 0px 0px 12px rgb(166, 165, 165); 
}

button.monBtnClaire i, button.claireNoHover i {
    margin-left: 8px;
    font-size: 24px;
    transition: ease-in-out .4s;
}
button.monBtnClaire:hover i, button.claireNoHover:hover i {
    margin-left: 12px;
}
