.cardImage-container {
    height: 320px;
    border-radius: 0px 50px 12px 12px;
    box-shadow: 0 0 16px var(--light-black-color);
    position: relative;
}
.cardImage-container img {
    height: 100% !important;
    background-color: var(--ternary-color);
    border-radius: 0px 50px 12px 12px !important;
}
.cardImage-container .point-fort-details {
    padding: 16px 12px;
    text-align: left;
    opacity: 0;
    border-radius: 0px 50px 12px 12px;
    transition: ease-in-out 1s;
}
.top .point-fort-details {
    height: 0;
    position: absolute;
    top: 0;
    background-color: var(--light-black-color);
    color: white;
}
.bottom .point-fort-details {
    height: 0;
    position: absolute;
    bottom: 0;
    background-color: var(--primary-color);
    color: white;
}
.top:hover .point-fort-details, .bottom:hover .point-fort-details {
    height: 100%;
    opacity: 1;
}
.right .point-fort-details {
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--primary-color);
    color: white;
}
.left .point-fort-details {
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--light-black-color);
    color: white;
}
.right:hover .point-fort-details, .left:hover .point-fort-details {
    width: 100%;
    opacity: 1;
}